<ion-header>
  <ion-toolbar>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon name="information-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>About</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="txtCenter"><b>About ZIC</b></p>
  <p class="font">
    Zanzibar Insurance Corporation was established on the 20th June, 1969 under
    the public Enterprises Decree of 1966 legal Notice no.11 of 1969.Following
    subsequent changes it is now operating under the public Investment Act No.4
    of 2002.The Corporation is a parastatal organization owned by the Revolution
    government of Zanzibar through the ministry of Finance and Economic Affairs.
  </p>

  <p class="txtCenter"><b>OUR VISION</b></p>
  <p class="font">
    To be a dynamic, customer focused, respected and prominent general insurance
    company operating throughout Tanzania.
  </p>

  <p class="txtCenter"><b>OUR MISSION</b></p>
  <p class="font">
    To be an insurance company of choice for general insurance throughout
    Tanzania, with competitive products. effluent customer services, respectable
    market share and company profitability.
  </p>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="back()">
          <ion-icon name="home" color="primary"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="Insuarance()">
          <ion-icon name="folder-open" color="primary"></ion-icon>
          <ion-label>Ditails</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
