<ion-header>
  <ion-toolbar>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon name="home"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-card>
    <img src="assets/car.jpg" />
    <ion-card-header>
      <ion-card-title>Contact</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <address>
        <ion-icon name="call" color="primary"></ion-icon> &nbsp; Tel: &nbsp;
        +25567430210,
        <br />
        <ion-icon name="home" color="primary"></ion-icon> &nbsp; Address: &nbsp;
        Chwaka,
        <br />
        <ion-icon name="mail" color="primary"></ion-icon> &nbsp;Email: &nbsp;
        tawakalshamss@gmail.com,
      </address>
    </ion-card-content>
  </ion-card>
  <!-- <section>
    <ion-button expand="block" (click)="Insuarance()"
      >Insuarance Details</ion-button
    >
  </section> -->
  <!-- 
  <section>
    <ion-button expand="block" (click)="about()">About Us</ion-button>
  </section> -->
</ion-content>
<ion-footer>
  <ion-toolbar>
    <!-- <ion-title align="center"><b>Zanzibar Insuarance Coperation</b> </ion-title> -->

    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button>
          <ion-icon name="home" color="primary"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="Insuarance()">
          <ion-icon name="folder-open" color="primary"></ion-icon>
          <ion-label>Ditails</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="about()">
          <ion-icon name="information-circle" color="primary"></ion-icon>
          <ion-label>About</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="logout()">
          <ion-icon name="log-out" color="primary"></ion-icon>
          <ion-label>log out</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
